  <h2>Applications for <%= link_to @pet.name, "/pets/#{@pet.id}" %></h2>

<section>
 <h3>Names of Applicants:</h3>

 <%= require "pry"; binding.pry %>

 <% unless @pet.apps.empty? %>
   <% @pet.apps.each do |application| %>
     <p><%= link_to application.name, "/applications/#{application.id}" %></p>
   <% end %>
 <% else %>
   <p>No applications for this pet exist.</p>
 <% end %>
</section>
