<header class="navbar">
  <div class="navigate">
    <ul class="nav-list">
      <li><%= link_to 'Go back to Shelters', "/shelters" %></li>
      <li><%= link_to 'Go back to Pets', "/pets" %></li>
      <li class="fav-pets"><%= link_to 'Favorites', "/" %></li>
  </div>
</header>
